@using OdeToFood.Entities
@model Restaurant
@{
    ViewBag.Title = "Detail";
}

<h1>Create</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Cuisine)
        @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
    </div>
    <input type="submit" value="Save" />
}
